.wrapper {
    position: relative;
}

#menu {
    height: 100%;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    color: #fff;
    transition: .3s;
}

.closed {
    width: 0 !important;
}
